<div class="wrapper">

	<header class="header">
		<span class="title">hey<strong>yay</strong>me</span>
		<p class="description">Name: <span>Aleksey</span>, Age: <span>27</span>, Location: <span><a href="https://goo.gl/maps/VoXPnMSNZ4k">Kiev</a></span></p>

		<div class='tabs'>
		    <ul class='navbar-list'>
	            <li class="navbar-item"><a href="#tab-1">etc</a></li>
	            <li class="navbar-item"><a href="#tab-2">icons</a></li>
	            <li class="navbar-item"><a href="#tab-3">site</a></li>
	        </ul>
		</div>
	</header><!-- .header-->
