* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 10px 'Droid Sans Mono', monospace;
	height: 100%;
	background-color: #f4f3f0;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0 0 0 30%;
}


/* Header */
.header {
	padding: 8.5em 0 0 0;
	position: fixed;
}

.title{
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.4;
	margin-left: -4em;
}

.title a {
  	background: #000 none repeat scroll 0% 0%;
  	color: #FFF;
  	padding: 2px 4px 2px 4em;
  	text-decoration: none;
}

.title a:hover {
  background: #f4f3f0 none repeat scroll 0% 0%;
  color: #000;
}

.description {
	color: #999999;
    font-size: 9px;
	padding-top: 0.8em;
}

.description a {
	border-bottom: 1px solid #000;
}


/* Navigation */

.navbar-list{
	height: 28px;
	list-style: none;
    padding: 4em 0;
}

.navbar-list a{
	padding: 0 3px;
}

.navbar-item {
	position: relative;
    float: left;
    margin: 0 5px;
}

.active{
	border: solid 1px #000000;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	border-radius: 0px;
	background: #fff;
}


/* Middle 
-----------------------------------------------------------------------------*/
.content {
	padding: 19em 0 0 0;
}

/* Page 

overflow-x:scroll;
white-space: nowrap;
-----------------------------------------------------------------------------*/

.page{
	width: 100%;
	min-width: 1000px;
	white-space: nowrap;
}

.page img{
	width: 400px;
	max-width: none;
}

.page td {
	padding-right:25px;
}

.thumb_title {
	color: rgba(0, 0, 0, .8);
	letter-spacing: 1px;
	line-height: 1.4;
}

.thumb_tags {
	color: #999999;
    font-size: 9px;
	line-height: 18px;
	margin: 0 0 2px 0;
}

.thumb_tags a {
	color: #999999;
	padding-bottom: 3px;
	text-decoration: none;
}

.thumb_tags a:hover {
	border-bottom: 1px solid #000;
	color: #000;
}

.thumb_tags a:active {
	border-bottom: 1px solid #999;
	color: #999;
}

.thumb_tags span:after {
	content: ","
}

.thumb_tags span:last-child:after {
	content: "";
}

.project_thumb > a {
	display: inline;
	text-decoration: none;
}

.index{
	position: fixed;
	width: 420px;
	margin-top: 19em;
	padding: 10% 0 0 2%;
	z-index: 1;
}

.work-header{
	margin-bottom: 3em;
}

.work-title{
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	font-size: 4.2rem;
	line-height: 1;
	color: rgba(0, 0, 0, 0.93);
}

.work-description{
	font-size: 1.2rem;
line-height: 1.3;
font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Regular", Icons;
font-style: normal;
font-weight: 400;
color: rgba(0, 0, 0, 1);
}

.work-content{
	line-height: 1.1;
}

.exhibit{
	position: absolute;
	margin: 19em 0 0 30%;
	line-height: 1.4em;
}


/* Arrows */

.arrows{
	transition: .4s
	padding: 90% 0;
}

 #switch.active #circle {
    transform: translateX(100%)
  }

/* Footer 40px */

.footer {
	margin: -50px auto 0;
	width: 100%;
	height: 50px;
	padding: 0 2%;
	position: fixed;
}

/* Footer left */

.footer .footer-left{
	float: left;
}

/* Footer Right */

.footer .footer-right{
	float: right;
}

.footer a:hover {
    color: #000;
    font-style: italic; 
}


#popover {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50px;
	padding: 12px;
	border: solid 1px #000000;
		-webkit-border-radius: 2px;
		-khtml-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	border-radius: 0px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(26,53,71,.1);

	pointer-events: none;
		-webkit-transform: scale(.8) translateY(30%);
	transform: scale(.8) translateY(30%);
	transition: .4s cubic-bezier(.3, 0, 0, 1.3);
}

#popover.visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  transform: none;
}

.contact-buttom {
	cursor: pointer;
	color: rgb(255, 255, 255);
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	background-color: rgb(0, 0, 0);
}

a{
color: #000;
text-decoration: none;
}
