<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Portfolio</title>
  <meta name="description" content="A blog about photography, life and travel">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="assets/css/minireset.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <link href="http://fonts.cdnfonts.com/css/droid-sans-2" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/times-new-roman" rel="stylesheet">
</head>

<body>

  <div class="wrapper">

    <header class="header">
      <section class="header-top">
        <div class="row between-xs">
            <div class="col-xs-2">
                <div class="box">
                    <small><b>Aleksey Tarasov</b><br>
                    <br>Graphic Designer</small>
                  </div>
                </div>
            <div class="col-xs-4">
              <div class="box">
                <div class="storm">
                  <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.849757 8.5L4.5 1.92956V5.5V6H5H7.67182L4 12.9765V9V8.5H3.5H0.849757Z" fill="#FCFCFC" stroke="#FCFCFC"/>
                  </svg>
                </div>
                <small><b>Available now</b><br><br>The focus on #productive #learning <br> #cycling</small>
              </div>
            </div>
          </div>
      </section>

      <section class="header-part">

        <h1><b>Projects</b></h1>
        <div class="tabs">
          <ul class="navbar-list">
              <li class="navbar-item"><a href="#Etc"><h2>Etc</h2></a></li>
              <li class="navbar-item"><a href="#Concept"><h2>Concept</h2></a></li>
              <li class="navbar-item"><a href="#Pixel"><h2>Pixel</h2></a></li>
              <li class="navbar-item active"><a href="#All"><h2>All</h2></a></li>
          </ul>
        </div>
      </section>  

      <div id="spline">
        <iframe src='https://my.spline.design/shapesanimationcopy-2ad76d02e102e048d89bb549bbaed0ed/' frameborder='0' width='100%' height='120%'></iframe>
      </div>
    </header> 


    <main class="content">

    <div id='Etc'>
          {% for post in site.categories.etc %}
{{ post }}
          {% endfor %}


    </div>

    <div id='Concept'>
    </div>

    <div id='Pixel'>

      <section class="projects">
          <div class="row between-xs">
                <div class="col-xs-7">
                  <div class="box">
                    <div class="gallery">
                   <div id="scrolling-gallery">
                <div class="page-thumb">
                  <img src="assets/images/Frame 8.png" alt="" width="400" height="300" data-gallery-item-index="1"/>
                    
                  <img src="assets/images/typewriter.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/casio-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/walkman-tps-l2.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/diana_mini.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/knife-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>
                </div>

                <div id="nav_slide">
                  <label for="i1" class="dots" id="dot1"></label>
                  <label for="i2" class="dots" id="dot2"></label>
                  <label for="i3" class="dots" id="dot3"></label>
                  <label for="i4" class="dots" id="dot4"></label>
                </div>

              </div>
                    </div>
                  </div>
                </div>

            <div class="col-xs-5">
              <div class="box title">
                <h1><b>#2.01</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A mini-book with an overview of about 30 instruments. <br>
                <br>
                <small>View full page (not working yet)</small><br>
              </div>
            </div>
          </div>
      </section>


      <section class="projects">
        <div class="row between-xs">
          <div class="box">
            <div class="gallery-padding">
              <div id="scrolling-gallery">
                <div class="page-thumb">
                  <img src="assets/images/Frame 8.png" alt="" width="400" height="300" data-gallery-item-index="1"/>
                    
                  <img src="assets/images/typewriter.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/casio-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/walkman-tps-l2.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/diana_mini.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

                  <img src="assets/images/knife-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>
                </div>

                <div id="nav_slide">
                  <label for="i1" class="dots" id="dot1"></label>
                  <label for="i2" class="dots" id="dot2"></label>
                  <label for="i3" class="dots" id="dot3"></label>
                  <label for="i4" class="dots" id="dot4"></label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id='All'>
      {{ content }}

      {% for post in site.posts %}
  {{ post }}
{% endfor %}
    </div>

    </main><!-- .content -->
  </div><!-- .wrapper -->

  <div class="noise-wrapper">
    <div class="noise"></div>
  </div>

  <script   src="https://code.jquery.com/jquery-3.6.1.slim.min.js"   integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="   crossorigin="anonymous"></script>
  <script src="/assets/js/jquery.tabslet.min.js"></script>

  <script>
    $('.tabs').tabslet({
        container: '.content',
        mouseevent: 'click',
        attribute: 'href',
        active: 4
    });
</script>

</body>
</html>