<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="content">

	    {% assign post = page %}
		{% if post.tags.size > 0 %}
		    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
		    {% for post_tag in post.tags %}
		        {% for data_tag in site.data.tags %}
		            {% if data_tag.slug == post_tag %}
		                {% assign tag = data_tag %}
		            {% endif %}
		        {% endfor %}
		        {% if tag %}
		            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
		            {% assign tags_content = tags_content_temp %}
		        {% endif %}
		    {% endfor %}
		{% else %}
		    {% assign tags_content = '' %}
		{% endif %}

  <div id='tab-1'>
    <div class="page">
      <table>
        <tbody>
          <tr>

          {% for post in site.categories.etc %}
    			 <td>
              <a href="{{ post.full }}"><img src="{{ post.image }}"></a>
              <div class="thumb_title">
                  <span>{{ post.title }}</span>
              </div>
              <div class="thumb_tags">
                <span class="thumb_tag">
                {% for tag in page.tags %}
                  <a href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
                <span>{{ tags_content }}</span></span>
              </div>
            </td>
          {% endfor %}

          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id='tab-2'>
    <div class="page">
      <table>
        <tbody>
          <tr>

          {% for post in site.categories.icons %}
           <td>
              <a href="{{ post.full }}"><img src="{{ post.image }}"></a>
              <div class="thumb_title">
                  <span>{{ post.title }}</span>
              </div>
              <div class="thumb_tags">
                <span class="thumb_tag">
                {% for tag in page.tags %}
                  <a href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
                <span>{{ tags_content }}</span></span>
              </div>
            </td>
          {% endfor %}

          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div id='tab-3'>
    <div class="page">
      <table>
        <tbody>
          <tr>
            {{ content }}
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  



    </main><!-- .content -->

    {% include footer.html %}


  </body>

</html>
