<html><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Portfolio</title>
  <meta name="description" content="A blog about photography, life and travel">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="assets/css/minireset.min.css">
  <link rel="stylesheet" href="assets/css/main.css">

  <link href="http://fonts.cdnfonts.com/css/droid-sans-2" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/times-new-roman" rel="stylesheet">
</head>


  <body>



    <div class="wrapper">

      <header class="header">

<section class="header-top">
        <div class="row between-xs">
          <div class="col-xs-2">
              <div class="box">
                <small><b>Aleksey Tarasov</b><br>
                <br>Graphic Designer</small>
              </div>
          </div>
          <div class="col-xs-4">
              <div class="box">


                                                  <div class="storm">
                <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.849757 8.5L4.5 1.92956V5.5V6H5H7.67182L4 12.9765V9V8.5H3.5H0.849757Z" fill="#FCFCFC" stroke="#FCFCFC"/>
                  </svg>
                </div>


                  <small><b>Available now</b><br>
                  <br>Фокус на #productive #learning <br> #startup #music</small>
              </div>
          </div>
        </div>


</section>



        <section class="header-part">

            <h1><b>Projects</b></h1>

            <div class="tabs">
        <ul class="navbar-list">
              <li class="navbar-item"><a href="#tab-1"><h2>Etc</h2></a></li>
              <li class="navbar-item"><a href="#tab-2"><h2>Concept</h2></a></li>
              <li class="navbar-item"><a href="#tab-3"><h2>Pixel</h2></a></li>
              <li class="navbar-item active"><a href="#tab-4"><h2>All</h2></a></li>
          </ul>
    </div>

        </section>  

         <div id="spline">
        <iframe src='https://my.spline.design/shapesanimationcopy-2ad76d02e102e048d89bb549bbaed0ed/' frameborder='0' width='100%' height='100%'></iframe>
 </div>


        </header> 


    <main class="content">

<section class="projects">

    <div class="row between-xs">
          <div class="col-xs-5">
              <div class="box title">
<h1><b>23.07</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; After the unprecedented and somewhat counter-natural acceptances, one must expect recurrences of such refusals; however, there is a part that cannot be erased or reversed, which continues to function, living on the margins of the Unforgettable… Evolution in progress…<br>
<br>
<small>How can one escape that which never sets?</small><br>

              </div>
          </div>

                    <div class="col-xs-7">
              <div class="box">



<div class="gallery">
  <div class="gallery-item-one">
    <img src="assets/images/one-m.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>

    <div class="gallery-item-two">
    <img src="assets/images/two-m.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>

      <div class="gallery-item-three">
    <img src="assets/images/three-m.png" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>
</div>



              </div>
          </div>

        </div>

</section>



<section class="projects">

    <div class="row between-xs">
          <div class="col-xs-7">

                          <div class="box">



<div class="gallery">
  <div class="gallery-item-four">
    <img src="assets/images/one-с.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>

    <div class="gallery-item-five">
    <img src="assets/images/two-с.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>

      <div class="gallery-item-six">
    <img src="assets/images/three-с.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>
</div>


              </div>
 
          </div>

                    <div class="col-xs-5">

                           <div class="box title">
<h1><b>23.07</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; After the unprecedented and somewhat counter-natural acceptances, one must expect recurrences of such refusals; however, there is a part that cannot be erased or reversed, which continues to function, living on the margins of the Unforgettable… Evolution in progress…<br>
<br>
<small>How can one escape that which never sets?</small><br>

              </div>
          </div>

        </div>

</section>




<section class="projects">

    <div class="row between-xs">
          <div class="col-xs-5">
              <div class="box title">
<h1><b>23.07</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; After the unprecedented and somewhat counter-natural acceptances, one must expect recurrences of such refusals; however, there is a part that cannot be erased or reversed, which continues to function, living on the margins of the Unforgettable… Evolution in progress…<br>
<br>
<small>How can one escape that which never sets?</small><br>

              </div>
          </div>

                    <div class="col-xs-7">
              <div class="box">



<div class="gallery">
  <div class="gallery-item-can">
    <img src="assets/images/can.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>
</div>



              </div>
          </div>

        </div>

</section>



<section class="projects">

    <div class="row between-xs">


<div class="box">
<div class="gallery-padding">

<div id="scrolling-gallery">
        <div class="page-thumb">
            
          <img src="assets/images/casio-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

          <img src="assets/images/casio-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

          <img src="assets/images/diana_mini.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

          <img src="assets/images/walkman-tps-l2.png" alt="" width="400" height="300" data-gallery-item-index="1"/>

          <img src="assets/images/knife-two.png" alt="" width="400" height="300" data-gallery-item-index="1"/>
      </div>    
</div>

</div>
</div>


        </div>

</section>


<section class="projects">

    <div class="row between-xs">
          <div class="col-xs-7">

                          <div class="box">



<div class="gallery">
  <div class="gallery-robur-one">
    <img src="assets/images/four-c.jpg" alt="" width="600" height="400" data-gallery-item-index="1"/>
  </div>

  <div class="gallery-robur-two">
    <img src="assets/images/four-m.png" alt="" width="400" height="400" data-gallery-item-index="1"/>
  </div>


</div>


              </div>
 
          </div>

                    <div class="col-xs-5">

                           <div class="box title">
<h1><b>23.07</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; After the unprecedented and somewhat counter-natural acceptances, one must expect recurrences of such refusals; however, there is a part that cannot be erased or reversed, which continues to function, living on the margins of the Unforgettable… Evolution in progress…<br>
<br>
<small>How can one escape that which never sets?</small><br>

              </div>
          </div>

        </div>

</section>


<section class="projects">

    <div class="row between-xs">
          <div class="col-xs-5">
              <div class="box title">
<h1><b>23.07</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; After the unprecedented and somewhat counter-natural acceptances, one must expect recurrences of such refusals; however, there is a part that cannot be erased or reversed, which continues to function, living on the margins of the Unforgettable… Evolution in progress…<br>
<br>
<small>How can one escape that which never sets?</small><br>

              </div>
          </div>

                    <div class="col-xs-7">
              <div class="box">



<div class="gallery">
  <div class="gallery-537-one">
    <img src="assets/images/Untitled-17.jpg" alt="" width="550" height="450" data-gallery-item-index="1"/>
  </div>

    <div class="gallery-537-two">
    <img src="assets/images/IMG_69567.jpg" alt="" width="600" height="400" data-gallery-item-index="1"/>
  </div>

      <div class="gallery-537-three">
    <img src="assets/images/Group-11.png" alt="" width="600" height="450" data-gallery-item-index="1"/>
  </div>
</div>



              </div>
          </div>

        </div>

</section>




    </main><!-- .content -->

      
  

  





    </div><!-- .wrapper -->

<footer class="footer">
    <div class="footer-left">
        <a href="http://cornishmouth.cc">cornishmouth.cc</a>
    </div>
    <div class="footer-right">
        <a class="instagram" href="http://instagram.com/shhbbv">instagram</a> | 
        <a class="facebook" href="http://facebook.com/shhbbv">facebook</a> | 
        <a class="contact" href="">contact</a>
    </div>
</footer><!-- .footer -->

<!-- partial -->
  <script  src="assets/js/script.js"></script>
  
 <div class="noise-wrapper">
          <div class="noise"></div>
        </div>

</body></html>