---
layout: post
---

<div class="row between-xs">
  <div class="col-xs-7">
    <div class="box">
      <div class="gallery">
        <div id="scrolling-gallery">
          <ul class="list">
            <li class="item"><img src="{{ page.one }}"/></li>
            <li class="item"><img src="{{ page.two }}"/></li>
            <li class="item"><img src="{{ page.three }}"/></li>
            <li class="item"><img src="{{ page.four }}"/></li>
            <li class="item"><img src="{{ page.five }}"/></li>
          </ul>
          <ul class="indicatorsList" aria-hidden>
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
            <li class="indicator"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-5">
    <div class="box title">
      <h1><b>#{{ page.title }}</b></h1>
      {{ content }}
      <small>View full page (not working yet)</small>
    </div>
  </div>
</div>