<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div  class="wrapper">

    <header class="header-post">
    	<a href="/" class="title">port<strong>fo</strong>lio</a>
    	<p class="description">Name: <span>Aleksey</span>, Age: <span>27</span>, Location: <span><a href="https://goo.gl/maps/VoXPnMSNZ4k">Kiev</a></span></p>
    </header><!-- .header-post-->

    {{ content }}

    </div>

    {% include footer.html %}

  </body>
</html>