---
layout: post
---

<div class="row between-xs">
  <div class="col-xs-7">
    <div class="box">
      <div class="gallery">
        <div class="image-one">
          <img style="width:{{ page.one-width }}%; top:{{ page.one-top }}%; left:{{ page.one-left }}%;" src="{{ page.one}}" alt=""/>
        </div>

        <div class="image-two">
          <img style="width:{{ page.two-width }}%; top:{{ page.two-top }}%; left:{{ page.two-left }}%;" src="{{ page.two}}" alt=""/>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-5">
    <div class="box title">
      <h1><b>#{{ page.title }}</b></h1><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{ content }} <br>
      <br>
      <small>View full page (not working yet)</small><br>
        </div>
    </div>
</div>
      