---
layout: post
---

<div class="row between-xs">
  <div class="col-xs-7">
    <div class="box">
        <div class="image-one" style="width:{{ page.one-width }}%; top:{{ page.one-top }}%; left:{{ page.one-left }}%;">
            <img src="{{ page.one}}" alt=""/>
        </div>

        <div class="image-two" style="width:{{ page.two-width }}%; top:{{ page.two-top }}%; left:{{ page.two-left }}%;">
            <img src="{{ page.two}}" alt=""/>
        </div>

      <div class="image-three" style="width:{{ page.three-width }}%; top:{{ page.three-top }}%; left:{{ page.three-left }}%;">
            <img src="{{ page.three}}" alt=""/>
        </div>
      </div>
  </div>

  <div class="col-xs-5">
    <div class="box title">
      <h1><b>#{{ page.title }}</b></h1>
      {{ content }}
      <small><a href="{{ page.link }}">View full page (not working yet)</a></small>
    </div>
  </div>
</div>
      